<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    
  <title>Twitter Analiz Gösterge Paneli</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 

    <script type="text/javascript">
      setTimeout(function() { $('#flash').hide(); }, 3000); /*1000 milisaniye = 1 saniye*/
  </script>
  <script type="text/javascript">
      $(document).ready(function () {
         initialize();
      });
 

      // works out the X, Y position of the click inside the canvas from the X, Y position on the page
      function getPosition(mouseEvent, sigCanvas) {
         var x, y;
         if (mouseEvent.pageX != undefined && mouseEvent.pageY != undefined) {
            x = mouseEvent.pageX;
            y = mouseEvent.pageY;
         } else {
            x = mouseEvent.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
            y = mouseEvent.clientY + document.body.scrollTop + document.documentElement.scrollTop;
         }
 
         return { X: x - sigCanvas.offsetLeft, Y: y - sigCanvas.offsetTop };
      }
 
      function initialize() {
         // get references to the canvas element as well as the 2D drawing context
         var sigCanvas = document.getElementById("canvasSignature");
         var context = sigCanvas.getContext("2d");
         context.strokeStyle = 'Black';
 
         // This will be defined on a TOUCH device such as iPad or Android, etc.
         var is_touch_device = 'ontouchstart' in document.documentElement;
 
         if (is_touch_device) {
            // create a drawer which tracks touch movements
            var drawer = {
               isDrawing: false,
               touchstart: function (coors) {
                  context.beginPath();
                  context.moveTo(coors.x, coors.y);
                  this.isDrawing = true;
               },
               touchmove: function (coors) {
                  if (this.isDrawing) {
                     context.lineTo(coors.x, coors.y);
                     context.stroke();
                  }
               },
               touchend: function (coors) {
                  if (this.isDrawing) {
                     this.touchmove(coors);
                     this.isDrawing = false;
                  }
               }
            };
 
            // create a function to pass touch events and coordinates to drawer
            function draw(event) {
 
               // get the touch coordinates.  Using the first touch in case of multi-touch
               var coors = {
                  x: event.targetTouches[0].pageX,
                  y: event.targetTouches[0].pageY
               };
 
               // Now we need to get the offset of the canvas location
               var obj = sigCanvas;
 
               if (obj.offsetParent) {
                  // Every time we find a new object, we add its offsetLeft and offsetTop to curleft and curtop.
                  do {
                     coors.x -= obj.offsetLeft;
                     coors.y -= obj.offsetTop;
                  }
				  // The while loop can be "while (obj = obj.offsetParent)" only, which does return null
				  // when null is passed back, but that creates a warning in some editors (i.e. VS2010).
                  while ((obj = obj.offsetParent) != null);
               }
 
               // pass the coordinates to the appropriate handler
               drawer[event.type](coors);
            }
 

            // attach the touchstart, touchmove, touchend event listeners.
            sigCanvas.addEventListener('touchstart', draw, false);
            sigCanvas.addEventListener('touchmove', draw, false);
            sigCanvas.addEventListener('touchend', draw, false);
 
            // prevent elastic scrolling
            sigCanvas.addEventListener('touchmove', function (event) {
               event.preventDefault();
            }, false); 
         }
         else {
 
            // start drawing when the mousedown event fires, and attach handlers to
            // draw a line to wherever the mouse moves to
            $("#canvasSignature").mousedown(function (mouseEvent) {
               var position = getPosition(mouseEvent, sigCanvas);
 
               context.moveTo(position.X, position.Y);
               context.beginPath();
 
               // attach event handlers
               $(this).mousemove(function (mouseEvent) {
                  drawLine(mouseEvent, sigCanvas, context);
               }).mouseup(function (mouseEvent) {
                  finishDrawing(mouseEvent, sigCanvas, context);
               }).mouseout(function (mouseEvent) {
                  finishDrawing(mouseEvent, sigCanvas, context);
               });
            });
 
         }
      }
      
      // draws a line to the x and y coordinates of the mouse event inside
      // the specified element using the specified context
      function drawLine(mouseEvent, sigCanvas, context) {
 
         var position = getPosition(mouseEvent, sigCanvas);
 
         context.lineTo(position.X, position.Y);
         context.stroke();
      }
 
      // draws a line from the last coordiantes in the path to the finishing
      // coordinates and unbind any event handlers which need to be preceded
      // by the mouse down event
      function finishDrawing(mouseEvent, sigCanvas, context) {
         // draw the line to the finishing coordinates
         drawLine(mouseEvent, sigCanvas, context);
 
         context.closePath();
 
         // unbind any events which could draw
         $(sigCanvas).unbind("mousemove")
                     .unbind("mouseup")
                     .unbind("mouseout");
      }


      function clearImage(){
                
                // context.clearRect(0, 0, sigCanvas.width, sigCanvas.height);
                // context.fillStyle = "rgb(255,255,255)";  
                // context.fillRect(0, 0, sigCanvas.width, sigCanvas.height);
                var sigCanvas = document.getElementById("canvasSignature");
                var context = sigCanvas.getContext("2d");
                context.clearRect(0, 0, sigCanvas.width, sigCanvas.height);
                context.fillStyle = "rgb(255,255,255)";  
                context.fillRect(0, 0, sigCanvas.width, sigCanvas.height);
               
           }

      function canvas_save(){
                var sigCanvas = document.getElementById("canvasSignature");
                var canvasDataURL = sigCanvas.toDataURL();
                var a = document.createElement('a');
                a.href = canvasDataURL;
                $.ajax({
                        type: "POST",
                        url: '{{ imza }}',
                        contentType: "application/json",
                        data: (a.href),
                        dataType: "str",
                });
                a.download = "imageName" || 'drawing';
               
                
         }
   </script>
  <!-- Bulma is included -->
  <link rel="stylesheet" href="/static/css/main.min.css">
<link rel="stylesheet" href="/static/css/load.css">
  <!-- Fonts -->
</head>
<body>
  
  <div class="loader-wrapper">
    <div class="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  
   
  
  <div class="container">
<div id="app">
  

  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            {%block header%}
            İmza Onayı Düzenleme
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 
   
            {%endblock header%}
          </h1></div>
        </div>
        
      </div>
    </div>
  </section>
{%include "includes/messages.html"%}

{%block body%}





<form method="POST" action="/imza", enctype="mutipart/form-data", name="form" onsubmit="return validateForm()">

</div>

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="/static/js/main.min.js"></script>


<section class="section is-main-section">
      
  <section class="section is-main-section">
   
    <div class="notification is-info">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="field">
              <div class="control">
                
                <input type="text"  name="tc_sorgulama_input"  class="input" value="{{tc}}" placeholder="T.C. Kimlik No Giriniz." required>
                
              </div>
            
          </div>
          
        </div>
        
      </div>
      
    </div>
    </section>

    <section class="section is-main-section">


     

    
        <div class="card">
          <header class="card-header">
            <p class="card-header-title" >
              <span class="icon"><i class="mdi mdi-ballot"></i></span>
              Tesis Kullanım Koşulları  
            </p>
          </header>
          <div class="card-content">
          
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label  class="label">1.Sosyal tesislerin kullanım kuralları Müdür tarafından düzenlenir ve SYK’nun onayı yürürlüğe konur. Bu kurallar bu Yönetmelikte belirlenen iletişim yöntemleriyle site sakinlerine duyurulur.</label>
                </div>
                <div class="field-label is-normal">
                  <label  class="label"> 2.Sitenin sosyal tesisleri site sakinlerinin kullanımına tahsis edilmiş olan yapıların tümünü kapsar. Konukların sosyal tesisleri kullanımı konusunda SYK ek kurallar geliştirebilir.</label>
                </div>
              
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label  class="label">3.Sosyal tesislerin kullanım kuralları Müdür tarafından düzenlenir ve SYK’nun onayı yürürlüğe konur. Bu kurallar bu Yönetmelikte belirlenen iletişim yöntemleriyle site sakinlerine duyurulur.</label>
                </div>
                <div class="field-label is-normal">
                  <label  class="label"> 4.Sitenin sosyal tesisleri site sakinlerinin kullanımına tahsis edilmiş olan yapıların tümünü kapsar. Konukların sosyal tesisleri kullanımı konusunda SYK ek kurallar geliştirebilir.</label>
                </div>
              
              </div>
              
              
              
      
              
          
              <hr>
              
          
          </div>
        </div>
          <section>
        <header class="card-header">
          <p class="card-header-title" >
            <span class="icon"><i class="mdi mdi-ballot"></i></span>
            İmza Alanı  
          </p>
        </header>
       
        <div id="canvasDiv">
      <!-- It's bad practice (to me) to put your CSS here.  I'd recommend the use of a CSS file! -->
      <canvas id="canvasSignature" width="800px" height="500px" style="border:2px solid #000000;"></canvas>
   
    </div>
        </br>
      
            <button onclick="canvas_save()" type="submit" name="button" class="button is-primary" value="imza_kaydet">GÖNDER</button>
            
           
          </form>
        </br>
          <div class="buttons is-right">
            <button onclick="clearImage()" type="submit"   name="button" value="value">TEMİZLE</button>
          </div>  
         
    






{%endblock body%}
 


<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</body>

</html>